<table mat-table [dataSource]="dataSource" [ngClass]="formatElevation()">

  <div *ngFor="let column of displayedColumns; first as isFirst;">
    <ng-container matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'vertical-separator': options.verticalSeparator}">
        {{customHeader ? extractColumnLabel(column) : options.capitalisedHeader ? (column | titlecase) : column}}
      </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'vertical-separator': options.verticalSeparator}">
        <div *ngIf="isFirst">
          <div class="value-cell">
            <div [innerHTML]="formatIndentation(element)"></div>
            <mat-icon [ngStyle]="{'visibility': element.children.length ? 'visible' : 'hidden'}" (click)="onNodeClick(element)">
              {{element.isExpanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}
            </mat-icon>
            <div>{{element.value[column]}}</div>
          </div>
        </div>
        <div *ngIf="!isFirst">
          {{element.value[column]}}
        </div>
      </td>
    </ng-container>
  </div>

  <ng-container *ngIf="actions && actions.length > 0" matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element" class="vertical-separator">
      <button *ngFor="let action of actions"
              (click)="onActionClicked({actionName: action.actionName, node: element})"
              mat-icon-button
              [attr.color]="action.color">
        <mat-icon [title]="action.title">{{action.iconName}}</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="extendedDisplayedColumns"></tr>
  <tr mat-row [ngClass]="{'highlight-on-hover': options.highlightRowOnHover}" *matRowDef="let row; columns: extendedDisplayedColumns;"></tr>

</table>
