<table mat-table [dataSource]="dataSource" [ngClass]="formatElevation()">

  <div *ngFor="let column of displayedColumns; first as isFirst;">
    <ng-container matColumnDef="{{column.keyValue}}">
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'vertical-separator': options.verticalSeparator}">
        {{customHeader ? column.label : options.capitalisedHeader ? (column.label | titlecase) : column}}
      </th>
      <!--TEMPLATE CELL-->
      <ng-container *ngIf="column?.cellTemplate; else simpleCell">
        <td mat-cell *matCellDef="let element" [ngClass]="{'vertical-separator': options.verticalSeparator}">
          <ng-template [ngTemplateOutletContext]="{
          element: element,
          column: column
        }" [ngTemplateOutlet]="column.cellTemplate">
          </ng-template>
        </td>
      </ng-container>
      <!--NORMAL CELL-->
      <ng-template #simpleCell>
        <td mat-cell *matCellDef="let element" [ngClass]="{'vertical-separator': options.verticalSeparator}">
          <div *ngIf="isFirst">
            <div class="value-cell">
              <div [innerHTML]="formatIndentation(element)"></div>
              <mat-icon [ngStyle]="{'visibility': element.children.length ? 'visible' : 'hidden'}" (click)="onNodeClick(element)">
                {{element.isExpanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}
              </mat-icon>
              <div (click)="onTreeLabelClick(element)" class="tree-label">{{element.value[column.keyValue]}}</div>
            </div>
          </div>
          <div *ngIf="!isFirst">
            <ng-container>{{element.value[column.keyValue]}}</ng-container>
          </div>
        </td>
      </ng-template>
    </ng-container>
  </div>

  <ng-container *ngIf="actions && actions.length > 0" matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element" class="vertical-separator">
      <ng-container *ngFor="let action of actions">
        <button *ngIf="checkVisibilityForAction(action, element)"
          (click)="onActionClicked({actionName: action.actionName, node: element})"
          mat-icon-button
          [color]="action.color">
          <mat-icon [title]="action.title">{{action.iconName}}</mat-icon>
        </button>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="extendedDisplayedColumns"></tr>
  <tr mat-row [ngClass]="{'highlight-on-hover': options.highlightRowOnHover}" *matRowDef="let row; columns: extendedDisplayedColumns;"></tr>

</table>
